{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section>
<h1 class="text-center text-muted">Inscription</h1>

<div class="col-md-6 mx-auto">
{{form(registerForm)}}
</div>

</section>
{% endblock %}
