{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section>
<h1 class="text-center text-muted"> Bienvenue <strong class="text-dark">{{app.user.lastname}} {{app.user.firstname}}</strong></h1><br>
<h5 class="text-center text-muted">Vous etes administrateur</h5>



</section>
{% endblock %}
